*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* color: f; */
}

body{
    margin: 0 39%;
}

.container{
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    /* height: auto; */
    border-radius: 18px;
    padding: 0 2rem;
}

.screen-section{
    padding: 1rem 0.4rem;
    width: 90%;
    height: 18px;
    background-color: rgb(255, 255, 255);
    margin: 1.5rem auto;
    border-radius: 10px;
}

.keyboard-section{
    margin: 0.5rem auto;
    padding: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.column-div{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.first-row{
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.second-row{
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.third-row{
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.fourth-row{
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.fifth-row{
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.six-row{
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.round-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#zero{
    width: 110px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(155, 156, 156);
}

#switch{
    width: 224px;
    height: 50px;
    border-radius: 20px;
    /* margin-left: 15px; */
}

#yellow{
    background-color: orange;
}

#normal{
    background-color: rgb(155, 156, 156);
}

.keyboard-section .column-div button:hover{
    background-color: white;
}